body {
    background: linear-gradient(to top, #0B1D51, #4A6FFF, #8C49FF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 1px;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.caja {
    background: #00E9FF;
    padding: 30px;
    width: 25vh;
    text-align: center;
    border: 3px solid #000;
    font-size: 20px;
}

a:link, a:visited {
    color: #000000;
    text-decoration: none;
}
h3 {
    color: #ffffff;
    font-size: 45px;
}

.op {
    color: rgb(0, 0, 0);
    font-size: 28px;
}
p {
    color: #08090a;
    font-size: 20px;
}
#numIf, #cant, #co, #numSwitch, #cod, #tri {
    width: 18vh;
    height: 35px;
    font-size: 18px;
    text-align: center;
}   
#button {
    font-size: 18px;
    padding: 5px 15px;
    margin-top: 10px;
    cursor: pointer;
}

.a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
    margin: 25px;
}
.c {
    background: #5BC0BE;
    padding: 10px;
    width: 20vh;
    text-align: center;
    border: 3px solid #000;
    font-size: 20px;
}